/* header {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
} */

.nav {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right bottom, rgba(142, 158, 252, 0.8), rgba(28, 62, 255, 0.2)), url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.uplevo.com%2Fdesignbox%2F4-buoc-thiet-ke-banner-hieu-qua&psig=AOvVaw0WEukJ6J4RrnfCm6dnSDPo&ust=1608092928485000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKjln5CTz-0CFQAAAAAdAAAAABAD");
    background-size: cover;
    background-position: top;
    position: relative;
    height: 20vh;
    clip-path: polygon(0 0, 100% 0%, 100% 83%, 0 72%);
    padding: 0 5.8rem;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* .nav ul li {
  font-size: 1.4rem;
  font-weight: 700;
} */

.nav-item {
    float: right;
    margin-left: 35px;
}

.nav-brand a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
}

.nav-item a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
}
.nav-item a:hover {
    /* text-decoration: underline; */
    /* font-size: 1.6rem; */
    color: green;
}

@media(max-width:660px) {
  .nav{
      padding: 0 1rem;
  }

  .nav-brand a,
.nav-item a {
    font-size: 1.3rem;

}
.nav ul li {
    margin-left: 20px;
}
}

@media(max-width:490px){
    .nav ul li {
        margin-left: 10px;
    }
}